<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB770vFRWzHxT2WcGfN1-k8tHmkQHWRQ_0</string>
	<key>GCM_SENDER_ID</key>
	<string>1064564773887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.Wish</string>
	<key>PROJECT_ID</key>
	<string>wish-3e67c</string>
	<key>STORAGE_BUCKET</key>
	<string>wish-3e67c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064564773887:ios:a54da77283609ac6368dca</string>
</dict>
</plist>